.word-node .save-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    transform: translate(40%, -40%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    display: none;
    z-index: 2;
}

body[data-scale="1"] .word-node.is-saved .save-indicator {
    display: block;
    background-image: url("../images/saved_small.svg");
    width: 15px;
    height: 19px;
    top: -6px;
    right: 3px;
    transform: none;
}

body[data-scale="2"] .word-node.is-saved .save-indicator {
    display: block;
    background-image: url("../images/saved_small.svg");
    width: 15px;
    height: 19px;
    top: -4px;
    right: 7px;
    transform: none;
}

body[data-scale="3"] .word-node.is-saved .save-indicator,
body[data-scale="4"] .word-node.is-saved .save-indicator {
    display: block;
    background-image: url("../images/saved_big.svg");
    width: 10px;
    height: 13px;
    top: 8px;
    right: 6.7px;
    transform: none;
}

body[data-scale="5"] .word-node .save-indicator {
    display: block;
    pointer-events: auto;
    cursor: pointer;
    width: 16px;
    height: 21px;
    top: 13px;
    right: 15px;
    transform: none;
}

body[data-scale="5"] .word-node.is-saved .save-indicator {
    background-image: url("../images/saved_big.svg");
}

body[data-scale="5"] .word-node:not(.is-saved) .save-indicator {
    background-image: url("../images/unsaved.svg");
}
