.word-node .save-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    transform: translate(40%, -40%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    display: none;
    z-index: 2;
}


